.left_nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 10rem;
    height: 100%;
    background: #ffffff;
    padding: 3rem 1rem;
    border-right: 1px solid lightgray;
    position: relative;

}

.left_menu {
    position: absolute;
    background: var(--pri_clr);
    color: white;
    height: auto;
    padding: 0.7rem 0.7rem;
    top: 0;
    right: 0;
}

.first_child {
    background-color: var(--bg_clr);
    width: 115%;
    height: 3rem;
    padding: 1rem 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.left_nav_list {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--pri_clr);
}

.left_nav_list h5 {
    color: var(--sec_clr);
}