.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
    max-width: 100vw;
}


.dashboard_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    color: var(--sec_clr);
}


.dashboard_info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_info div :first-child {
    background-color: lightgray;
    padding: 0.35rem 0.5rem;
    border-radius: 10px;
    color: var(--sec_clr);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 1rem;
}


.cards_data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 12px;
    padding: 0.5rem 0.75rem;
    gap: 5rem;
}

.cards_data_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.cards_data_info>h5 {
    font-size: 0.75rem;
    font-weight: 100;
}

.cards_data_info h3 {
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
}

.cards_data_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    font-size: x-large;
}

.cards_data_logo button {
    color: white;
    font-size: x-large;
}

.logo_top {
    font-size: x-large;
    margin-bottom: 2.5rem;
}

.cards_data_1 {
    background-image: linear-gradient(to right, rgba(255, 138, 34, 0.7), rgba(255, 38, 0, 1));
}

.cards_data_2 {
    background-image: linear-gradient(to right, rgba(0, 151, 235, 0.7), rgba(0, 69, 212, 1));
}

.cards_data_3 {
    background-image: linear-gradient(to right, rgba(0, 209, 119, 0.7), rgba(0, 175, 82, 1));
}

.cards_data_4 {
    background-image: linear-gradient(to right, rgba(158, 73, 236, 0.7), rgba(99, 0, 197, 1));
}

.cards_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 1rem;
}

.cards_2_data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    background-color: white;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    gap: 2rem;
}

.cards_2_data_info1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cards_2_logo {
    font-size: x-large;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.35rem 0.35rem;
    border-radius: 0.5rem;

}

.logo_1 {
    background: rgba(255, 138, 34, 0.3);
    color: rgba(255, 38, 0, 1);
}

.logo_2 {
    background: rgba(0, 151, 235, 0.3);
    color: rgba(0, 69, 212, 1);
}

.logo_3 {
    background: rgba(0, 209, 119, 0.3);
    color: rgba(0, 175, 82, 1);
}

.logo_4 {
    background: rgba(158, 73, 236, 0.3);
    color: rgba(99, 0, 197, 1);
}

.cards_2_data_info1>h5 {
    font-size: 0.75rem;
    font-weight: 300;
    align-items: baseline;
    opacity: 0.7;
}

.cards_2_data_info2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cards_2_data_info2>h3 {
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--sec_clr);

}

.cards_2_data_info2 button {
    font-size: x-large;
    background: var(--bg_clr);
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.35rem 0.35rem;
    border-radius: 0.35rem;

}

.card_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    margin-inline: 1rem;
}


.cards_3_table {
    grid-column: 1/span 2;
    border-radius: 12px;
    background-color: white;
}

.table_caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0.5rem 1rem;
    gap: 0.5rem;
}

.table_caption_div {
    display: flex;
}

.table_caption_div>h4 {
    font-size: 0.75rem;
    color: var(--sec_clr);
    font-weight: 200;
}

.table_filter {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.table_button {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--sec_clr);
    font-size: 0.85rem;
    font-weight: 100;
}

.table_button :first-child {
    background-color: var(--bg_clr);
    padding: 0.35rem 0.95rem;
    border-radius: 5px;
}

.table_search {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--sec_clr);
    border-bottom: 1px solid var(--sec_clr);
}

.table_search input {
    width: fit-content;
    border: none;
    font-size: 0.95rem;
    margin-left: 0.35rem;
}

.table_search button {
    color: var(--sec_clr);
}

.table_data table {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--bg_clr);
    border-collapse: separate;
    border-spacing: 0.75rem;
    font-size: 0.75rem;
}

th {
    color: var(--sec_clr);
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
}

.first_row>* {
    border-radius: 5px;
}

.first_row :first-child {
    color: var(--pri_clr);
}

.first_row :nth-child(2) {
    color: var(--sec_clr);
}

.first_row :nth-child(3) {
    color: var(--pri_clr);
    background: rgba(0, 151, 235, 0.3);
}

.first_row :nth-child(4) {
    color: rgba(0, 175, 82, 1);
    background: rgba(0, 209, 119, 0.15);
}

.first_row :nth-child(5) {
    color: var(--sec_clr);
}

.second_row :first-child {
    color: var(--pri_clr);
}

.second_row :nth-child(2) {
    color: var(--sec_clr);
}

.second_row :nth-child(3) {
    color: rgba(255, 38, 0, 1);
    background: rgba(255, 138, 34, 0.3);
    ;
}

.second_row :nth-child(4) {
    color: rgba(99, 0, 197, 1);
    background: rgba(158, 73, 236, 0.3);
}

.second_row :nth-child(5) {
    color: var(--sec_clr);
}

.third_row :first-child {
    color: var(--pri_clr);
}

.third_row :nth-child(2) {
    color: var(--sec_clr);
}

.third_row :nth-child(3) {
    color: rgb(17, 117, 145);
    background: rgba(136, 219, 239, 0.3);
    ;
}

.third_row :nth-child(4) {
    color: rgb(15, 15, 16);
    background: rgba(207, 190, 222, 0.3);
}

.third_row :nth-child(5) {
    color: var(--sec_clr);
}

.fourth_row :first-child {
    color: var(--pri_clr);
}

.fourth_row :nth-child(2) {
    color: var(--sec_clr);
}

.fourth_row :nth-child(3) {
    color: rgb(227, 201, 34);
    background: rgba(203, 240, 117, 0.3);
    ;
}

.fourth_row :nth-child(4) {
    color: rgb(227, 201, 34);
    background: rgba(201, 230, 133, 0.3);
}

.fourth_row :nth-child(5) {
    color: var(--sec_clr);
}

.fifth_row :first-child {
    color: var(--pri_clr);
}

.fifth_row :nth-child(2) {
    color: var(--sec_clr);
}

.fifth_row :nth-child(3) {
    color: var(--sec_clr);
    background: var(--bg_clr);
    ;
}

.fifth_row :nth-child(4) {
    color: var(--sec_clr);
    background: var(--bg_clr);
}

.fifth_row :nth-child(5) {
    color: var(--sec_clr);
}


.cards_3_purchase {
    border-radius: 12px;
    background-color: white;
}

.cards_3_purchase_div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards3_bill {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 1.5rem 0 1rem;
    color: var(--sec_clr);
    font-size: 0.65rem;
    font-weight: 200;
}

.cards3_bill div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.horizontal_line {
    border: none;
    max-width: 85%;
    margin: 0 auto;
    border-top: 1px solid var(--sec_clr);
}

.cards3_bill_detail {
    display: flex;
    flex-direction: column;
}

.cards3_bill_detail>h3 {
    margin: 0 1rem;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--sec_clr);
}

.details {
    display: flex;
    flex-direction: column;
}

.details_div {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 1.5rem 0 1.5rem;
}

.details_div div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
}


.details_div div h3 {
    font-size: 0.75rem;
    color: var(--sec_clr);
}

.details_div div :nth-child(1) {
    color: var(--pri_clr);
}

.details_logo_1 :first-child {
    fill: #ff9356;
}

.details_logo_2 :first-child {
    fill: #00c081;
}

.details_logo_3 :first-child {
    fill: #0040d2;
}

.details_logo_4 :first-child {
    fill: #ff0000;
}

.details_logo_5 :first-child {
    fill: #cdc6fe;
}

.details>h6 {
    color: var(--sec_clr);
    font-size: 0.75rem;
    margin: 0 2.5rem;
}

.cards_3_purchase_div>button {
    font-size: small;
    color: var(--pri_clr);
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    text-align: left;
    width: fit-content;
    background: var(--bg_clr);
    padding: 0.25rem 0.35rem;
    border-radius: 5px;
}

.cards_3_top_selling {
    border-radius: 19px;
    background-color: white;
    margin-inline: auto
}

.card3_tshirt :nth-child(2) {
    color: var(--pri_clr) !important;
    font-size: 0.75rem;
}

.card3_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card3_list_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.card3_list_ul :nth-child(2) {
    color: var(--sec_clr);
    font-size: 0.75rem;
    text-align: center;
}

.card3_list_ul :nth-child(3) {
    color: var(--sec_clr);
    font-size: 0.85rem;
    font-weight: 300;
}

.products_hr {
    border: none;
    max-width: 50%;
    margin: 0.15rem auto;
    border-top: 1px solid var(--sec_clr);
}

.card3_list_ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3_list_ul>li>img {
    width: 50%;
}


@media(max-width:1240px) {
    .card_3 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'tablee tablee purchase purchase'
            'tablee tablee  purchase purchase'
            'sale sale empty empty';
    }

    .cards_3_table {
        grid-area: tablee;
    }

    .cards_3_purchase {
        grid-area: purchase;
    }

    .cards_3_top_selling {
        grid-area: sale;
    }

    .table_data table {
        font-size: 0.65rem;
    }

    .table_filter {
        justify-content: space-around;
        gap: 1rem;
        margin: 0.25rem 0;
    }

    .table_search {
        align-items: center;
        gap: 0;
        width: fit-content;
    }

    .table_button button {
        gap: 0.75rem;
        font-size: 0.75rem;
    }

    .cards3_bill div {
        font-size: 0.75rem;
    }
}

@media(max-width:1135px) {

    .table_data table {
        font-size: 0.6rem;
    }

    .table_filter {
        justify-content: space-around;
        gap: 0.5rem;
        margin: 0.25rem 0;
    }

    .table_button button {
        gap: 0.5rem;
        font-size: 0.65rem;
    }

    .cards3_bill div {
        font-size: 0.75rem;
    }

    .table_button :first-child {
        padding: 0.25rem 0.5rem;
    }

    td {
        padding: 0.45rem;
    }

    .table_caption>h2 {
        font-size: .85rem;
        margin-left: 0;
    }

    .cards_3_purchase_div>h2 {
        font-size: .85rem;
    }

    .cards_3_top_selling_div>h2 {
        font-size: .85rem;
    }

    .cards3_bill>div>h3 {
        font-size: 0.75rem;
    }
}

@media(max-width:1024px) {

    .table_data table {
        font-size: 0.56rem;
    }

    .table_filter {
        justify-content: space-around;
        gap: 0.5rem;
        margin: 0.25rem 0;
    }

    .table_button button {
        gap: 0.5rem;
        font-size: 0.65rem;
    }

    .table_search input {
        border: none;
        font-size: 0.75rem;
        margin-left: 0.15rem;
    }

    .cards3_bill div {
        font-size: 0.75rem;
    }

    .table_button :first-child {
        padding: 0.25rem 0.5rem;
    }

    td {
        padding: 0.35rem;
    }

    .table_caption>h2 {
        font-size: .85rem;
        margin-left: 0;
    }

    .cards_3_purchase_div>h2 {
        font-size: .85rem;
    }

    .cards3_bill>div>h3 {
        font-size: 0.75rem;
    }
}

/* For Tablet Portrait-down */
@media (max-width:900px) {
    .dashboard_info {
        font-size: 1rem;
    }

    .cards_data {
        padding: 0.5rem 0.75rem;
        gap: 4rem;
    }

    .cards_data_info>h5 {
        font-size: 0.6rem;
    }

    .cards_data_info>h3 {
        font-size: 1.25rem;
        font-weight: 100;
    }

    .dashboard_info div {
        font-size: 0.75rem;
    }

    .cards_data_logo {
        justify-content: space-around;
        gap: 1.5rem;
        font-size: large;
    }

    .logo_top {
        font-size: large;
    }

    .dashboard_info div :first-child {
        padding: 0.25rem 0.35rem;
        border-radius: 5px;
    }

    .cards_2_data {
        padding: 0.5rem 1rem;
        gap: 2.5rem;
    }

    .cards_2_logo {
        font-size: large;
        width: 2rem;
        height: 2rem;
    }

    .card_3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'tablee tablee'
            'purchase sale'
            'purchase sale';
    }

    .cards_3_table {
        grid-area: tablee;
    }

    .cards_3_purchase {
        grid-area: purchase;
    }

    .cards_3_top_selling {
        grid-area: sale;
    }

    .cards_2_data_info2>h3,
    .cards_3_top_selling_div>h2 {
        text-align: center;
    }

    .table_data table {
        border-spacing: 0.5rem;
        font-size: 0.75rem;
    }

    .card3_list_ul>li>img {
        width: 40%;
    }

    .details {
        width: 80%;
        margin: 0 auto;
    }

    .table_filter {
        justify-content: space-around;
        margin: 0.25rem 0;
    }

    .cards3_bill div {
        width: 80%;
        font-size: 0.75rem;
        margin: 0 auto;
    }

    .cards_3_purchase_div>h2 {
        text-align: center;
    }

    .table_search {
        align-items: center;
        gap: 1rem;
        width: fit-content;
    }

    .table_filter>ul {
        gap: 1rem;
        font-size: 0.75rem;
        font-weight: 100;
    }


    .table_filter>ul :first-child {
        padding: 0.2rem 0.65rem;
    }

    th {
        padding: 0.35rem;
    }

    td {
        padding: 0.45rem;
    }

    .cards3_bill {
        gap: 0.85rem;
        margin: 0 1rem;
        font-size: 0.55rem;
        font-weight: 100;
    }

    .cards3_bill_detail>h3 {
        text-align: center;
    }

    .cards_3_purchase_div>button {
        text-align: center;
        margin-inline: auto;
    }

}

/* For phones Only */
@media (max-width:600px) {
    .dashboard_info {
        padding: 0 0.85rem;
        margin-inline: 0;
    }

    .dashboard_info div>* {
        font-size: 0.85rem;

    }

    .cards_data {
        padding: 0.5rem 0.75rem;
        gap: 5.5rem;
    }

    .cards_data_info>h5 {
        font-size: 0.6rem;
    }

    .cards_data_info>h3 {
        font-size: 1.25rem;
        font-weight: 100;
    }

    .dashboard_info div {
        font-size: 0.75rem;
    }

    .cards_data_logo {
        justify-content: space-around;
        gap: 1.5rem;
        font-size: large;
    }

    .logo_top {
        font-size: large;
    }

    .dashboard_info div :first-child {
        padding: 0.25rem 0.35rem;
    }

    .cards_2,
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .cards_2_data {
        padding: 0.5rem 1rem;
        gap: 1.5rem;
    }

    .cards_2_logo {
        font-size: large;
        width: 2rem;
        height: 2rem;
    }

    .card_3 {
        grid-template-areas:
            'tablee tablee'
            'purchase purchase'
            'sale sale';
    }

    .cards_3_table {
        grid-area: tablee;
    }

    .cards_3_purchase {
        grid-area: purchase;
    }


    .cards3_bill div {
        width: 75%;
        font-size: 0.65rem;

    }

    .cards_3_top_selling {
        grid-area: sale;
    }

    .cards_2_data_info2>h3 {
        font-size: 1.15rem;
    }

    .table_data table {
        border-spacing: 0.5rem;
        font-size: 0.75rem;
    }

    .table_filter {
        justify-content: space-around;
        gap: 1rem;
        margin: 0.25rem 0;
    }

    .table_search {
        align-items: center;
        gap: 0;
        width: fit-content;
    }

    .table_filter>ul {
        gap: 1rem;
        font-size: 0.75rem;
        font-weight: 100;
    }

    .table_button button {
        gap: 0.75rem;
        font-size: 0.75rem;
    }

    .table_button :first-child {
        padding: 0.2rem 0.5rem;
    }

    .table_filter>ul :first-child {
        padding: 0.2rem 0.65rem;
    }

    th {
        padding: 0.25rem;
    }

    td {
        padding: 0.25rem;
    }

    .cards3_bill {
        gap: 0.85rem;
        margin: 0 1rem;
        font-size: 0.55rem;
        font-weight: 100;
    }

    .cards_3_purchase_div>button {
        font-size: 0.65rem;
        font-weight: 200;
        text-align: center;
        margin-inline: auto;
    }

    .details>* {
        font-size: 0.75rem;
    }

    .details div :nth-child(3) {
        margin-left: 22rem;
    }

    .cards3_bill_detail>h3 {
        text-align: center;
    }
}

@media (max-width: 450px) {

    .cards,
    .cards_2 {
        grid-template-columns: 1fr;
        gap: 0.7rem;
        margin-inline: 0.5rem;
        max-width: 100%;
    }

    .dashboard_info {
        font-size: 0.5rem;
        padding: 0 0.5rem;
    }

    .dashboard_info div {
        font-size: 0.5rem;
    }

    .dashboard_info div>* {
        font-size: 0.5rem;
    }

    .dashboard_info div :first-child {
        padding: 0.15rem 0.25rem;
    }

    .card_3 {
        display: none;
    }
}