* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

:root {
  --pri_clr: #003cd1;
  --sec_clr: #38638b;
  --bg_clr: #f4f7f8;
  --text_clr: var(--pri_clr);
  --white: #ffffff;
  --hover: #c3073f;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg_clr);
  overflow-x: hidden;
  max-width: 100vw;

}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */

.container {
  --max-width: 69.375em;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding)*2));
  margin-inline: auto;
}

.dash_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.topNavbar {
  max-height: 50px;
}

.content {
  display: flex;
}

.sideNavbar {
  flex: 1;
}

.dashBoard {
  flex: 9;
}

h2 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--sec_clr);
  margin: 1rem 1rem;
}

/* For phones Only */
@media (max-width:600px) {
  h2 {
    font-size: 0.75rem;
    font-weight: 200;
    text-align: center;
    margin: 0.5rem 1rem;
  }

  .sideNavbar {
    display: none;
  }
}

@media (max-width:450px) {
  h2 {
    font-size: 0.65rem;
    font-weight: 100;
    margin: 0.5rem 0.5rem;
  }

  .sideNavbar {
    display: none;
  }
}

/* For Tablet Portrait-up */
@media (min-width:600px) {
  .sideNavbar {
    display: none;
  }

  h2 {
    font-size: 0.75rem;
    font-weight: 100;
    text-align: center;
    margin: 0.5rem 1rem;
  }
}

/* For Tablet landscape-up */
@media (min-width:900px) {
  .sideNavbar {
    display: flex;
  }
}

/* For Desktop-up */
@media (min-width:1200px) {}